.completed {
    text-decoration: line-through;
}

.complete-button {
    color: #ff1493;
    border: 1px solid #ff1493;
    border-radius: 8px;
}

.remove {

}

ol {
    /* padding: 15px; */

}

li {
    display: flex;
    justify-content: space-between;

}

/* ol {
    counter-reset: section;
}
  
li::before {
counter-increment: section;
content: counter(section) ". ";
} */

button {
    border: none;
}