/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(248,87,166);
    background: linear-gradient(90deg, rgba(248,87,166,1) 0%, rgba(255,88,88,1) 100%);
}

.list-container {
    margin: auto;
    width: 80vw;
}